<div class="loading" *ngIf="deals$ | async as deals; else loading">
  <table mat-table [dataSource]="deals" class="mat-elevation-z8">

    <ng-container matColumnDef="DealName">
      <th mat-header-cell *matHeaderCellDef> Deal Name </th>
      <td mat-cell *matCellDef="let deals"> {{deals.DealName}} </td>
    </ng-container>

    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let deals"> {{deals.Address}} </td>
    </ng-container>

    <ng-container matColumnDef="PurchasePrice">
      <th mat-header-cell *matHeaderCellDef> Purchase Price </th>
      <td mat-cell *matCellDef="let deals"> $ {{deals.PurchasePrice}} </td>
    </ng-container>

    <ng-container matColumnDef="NetOperatingIncome">
      <th mat-header-cell *matHeaderCellDef> NOI </th>
      <td mat-cell *matCellDef="let deals"> $ {{deals.NetOperatingIncome}} </td>
    </ng-container>

    <ng-container matColumnDef="CapRate">
      <th mat-header-cell *matHeaderCellDef> Cap Rate </th>
      <td mat-cell *matCellDef="let deals"> {{deals.CapRate}} %</td>
    </ng-container>

    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let deals" (click)="editDeals(deals)">  <mat-icon>edit</mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"  ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
  </table>
</div>

<section>
  <div class="button-container">
    <button mat-fab color="primary" (click)="addDeal()"  >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>

<ng-template #loading>
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>





