<div class="example-container">

  <mat-form-field appearance="fill">
    <mat-label>Deal Name</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Purchase Price</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>


  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>NOI</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Cap</mat-label>
    <input matInput type="number" class="example-right-align" placeholder="0">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix></span>
  </mat-form-field>

</div>
